doctype html
html(lang="en")
  head
    title Frederik Ring
    meta(name="description", content="I'm a web developer based in Berlin. I like writing boring code and creating exciting documentation for it. This is where I talk business.")
    meta(name="viewport", content="width=device-width")
    meta(name="google-site-verification", content="E0dxMH_62vxkLbF1gtuBGFP-A6kSVvEyn1Ygu5S7H0M")
    link(href="/public/tachyons.min.css", rel="stylesheet", )
    link(href="/public/fonts.css", rel="stylesheet")
    link(rel="canonical", href="https://www.frederikring.com")
    style.
      body {
        font-family: 'Karla', Helvetica, Arial, sans-serif;
        color: #001B44;
        background-color: #F6FFFE;
      }
      h1, h4 {
        letter-spacing: -0.03em;
      }
      p {
        font-family: 'Source Serif Pro', serif;
      }
      a:link, a:visited, a:hover, a:active {
        color: inherit;
      }
  body
    .mw100.pa2-ns.pa3-m.pa4
      h1.ma0.f2.f2-m.f1-ns Frederik Ring
      h4.f-headline-ns.f2.f1-m.ma0 AWSM INTRNT
      .mw7
        p I'm a web developer based in Berlin. I like writing boring code and creating exciting documentation for it.
        p I speak #[strong JavaScript], #[strong Golang] and #[strong Python] and like working with #[strong Node.js], the Go standard library, Django, Flask and express.js. I sometimes publish tiny pieces of software on #[a(target="_blank" href="https://github.com/m90") GitHub]. When I really care about something, I might even #[a(target="_blank" href="http://blog.frederikring.com") blog about it].
        p As part of #[a(href="https://www.offen.software") offen.software] I build unique software for unique people and organisations.
        p In one of my past lives I used to make #[a(target="_blank" href="http://films.frederikring.com") animated films].
        p You can email me at #[a(href="mailto:frederik.ring@posteo.de") frederik.ring@posteo.de].
