doctype html
html(lang="en")
	head
		title Frederik Ring
		meta(name="description", content="I'm a web developer based in Berlin. I like birds, comma-first JavaScript, Kimchi, Functional Reactive Programming, and all that.")
		meta(name="viewport", content="width=device-width")
		meta(name="google-site-verification", content="E0dxMH_62vxkLbF1gtuBGFP-A6kSVvEyn1Ygu5S7H0M")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.1.2/tachyons.min.css")
		link(href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet")
		link(rel="canonical", href="https://www.frederikring.com")
		style.
			body, a{
				font-family: 'Karla', Helvetica, Arial, sans-serif;
				color: #001B44;
				background-color: #F6FFFE;
			}
	body
		.mw100.pa2-ns.pa3-m.pa4
			h1.ma0.f2.f2-m.f1-ns Frederik Ring
			h4.f-headline-ns.f2.f1-m.ma0 AWSM INTRNT
			.mw7
				p I'm a web developer based in Berlin. I like birds, JavaScript, Kimchi, Functional Reactive Programming, and all that. I'm currently #[a.link.fw7(href="mailto:frederik.ring@gmail.com") for hire].
				p I speak JavaScript and Golang and like working with Node.js, the Go standard library, Browserify, Bacon.js, RxJS, React, Redux, and express.js or the Gin framework. I sometimes publish tiny pieces of software on #[a.link.fw7(target="_blank" href="https://github.com/m90") GitHub] and on #[a.link.fw7(target="_blank" href="https://www.npmjs.com/~m90") npm]. When I really care about something, I might even #[a.link.fw7(target="_blank" href="http://blog.frederikring.com") blog about it].
				p In one of my past lives I used to make #[a.link.fw7(target="_blank" href="http://films.frederikring.com") animated films].
				p You can email me at #[a.link.fw7(href="mailto:frederik.ring@gmail.com") frederik.ring@gmail.com].
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-365790-1")
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-365790-1', {anonymize_ip: true});
