doctype html
html(lang="en")
	head
		title Frederik Ring
		meta(name="description", content="I'm a web developer based in Berlin. I like birds, comma-first JavaScript, Kimchi, Functional Reactive Programming, and all that.")
		meta(name="viewport", content="width=device-width")
		meta(name="google-site-verification", content="E0dxMH_62vxkLbF1gtuBGFP-A6kSVvEyn1Ygu5S7H0M")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.1.2/tachyons.min.css")
		link(href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet")
		link(rel="canonical", href="http://www.frederikring.com")
		style.
			body, a{
				font-family: 'Karla', Helvetica, Arial, sans-serif;
				color: #001B44;
				background-color: #F6FFFE;
			}
	body
		.mw100.pa2-ns.pa3-m.pa4
			h1.ma0.f2.f2-m.f1-ns Frederik Ring
			h4.f-headline-ns.f2.f1-m.ma0 AWSM INTRNT
			.mw7
				p I'm a web developer based in Berlin. I like birds, comma-first JavaScript, Kimchi, Functional Reactive Programming, and all that. I work at #[a.link.fw7(target="_blank", href="https://www.ecosia.org/") ecosia] and I sometimes dabble in chatbots #[a.link.fw7(href="http://taell.me/" target="_blank") chatbots].
				p Tools and languages I love working with include Node.js, React, Redux, Tachyons, Choo, Backbone.js, Bacon.js, express.js, Golang and Sinatra. I sometimes publish tiny pieces of software on #[a.link.fw7(target="_blank" href="https://github.com/m90") GitHub] and on #[a.link.fw7(target="_blank" href="https://www.npmjs.com/~m90") npm]. When I really care about something, I might even #[a.link.fw7(target="_blank" href="http://blog.frederikring.com") blog about it].
				p Tests are cool. True story.
				p I also sell #[a.link.fw7(target="_blank" href="https://www.metermade.de") custom made furniture] on the Internet. In one of my past lives I used to make #[a.link.fw7(target="_blank" href="http://films.frederikring.com") animated films].
				p You can email me at #[a.link.fw7(href="mailto:frederik.ring@gmail.com") frederik.ring@gmail.com].
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-365790-1', 'auto');
			ga('send', 'pageview');