doctype html
html(lang="en")
  head
    title Frederik Ring
    meta(name="description", content="I'm a web developer based in Berlin. I like birds, JavaScript, kimchi pancakes, Functional Reactive Programming, and all that. This is where I talk business.")
    meta(name="viewport", content="width=device-width")
    meta(name="google-site-verification", content="E0dxMH_62vxkLbF1gtuBGFP-A6kSVvEyn1Ygu5S7H0M")
    link(href="/public/tachyons.min.css", rel="stylesheet", )
    link(href="/public/fonts.css", rel="stylesheet")
    link(rel="canonical", href="https://www.frederikring.com")
    style.
      body {
        font-family: 'Karla', Helvetica, Arial, sans-serif;
        color: #001B44;
        background-color: #F6FFFE;
      }
      p {
        font-family: 'Source Serif Pro', serif;
      }
      a:link, a:visited, a:hover, a:active {
        color: inherit;
      }
  body
    .mw100.pa2-ns.pa3-m.pa4
      h1.ma0.f2.f2-m.f1-ns Frederik Ring
      h4.f-headline-ns.f2.f1-m.ma0 AWSM INTRNT
      .mw7
        p I'm a web developer based in Berlin. I like birds, JavaScript, kimchi pancakes, Functional Reactive Programming, and all that. I currently work on a making web analytics fair for everyone with #[a(target="_blank" href="https://www.offen.dev") Offen].
        p I speak #[strong JavaScript], #[strong Golang] and #[strong Python] and like working with #[strong Node.js], the Go standard library, Browserify, Bacon.js, RxJS, React, Redux, and express.js, Flask or the Gin framework. I sometimes publish tiny pieces of software on #[a(target="_blank" href="https://github.com/m90") GitHub] and on #[a(target="_blank" href="https://www.npmjs.com/~m90") npm]. When I really care about something, I might even #[a(target="_blank" href="http://blog.frederikring.com") blog about it].
        p In one of my past lives I used to make #[a(target="_blank" href="http://films.frederikring.com") animated films].
        p You can email me at #[a(href="mailto:frederik.ring@posteo.de") frederik.ring@posteo.de].
