<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width">
  {% assets filters="cssmin", output="css/style.min.css", "css/tachyons.min.css", "css/fonts.css", "css/custom.css" %}
    <link rel="stylesheet" href="/{{ ASSET_URL }}">
  {% endassets %}
</head>
<body>
  <div class="mw100 pa4 pa3-m">
    <a href="/" class="no-underline">
      <h1 class="ma0 f2f2-m f1-ns">Frederik Ring</h1>
      <span class="db f-headline-ns f2 f1-m ma0">AWSM INTRNT</span>
    </a>
    <main class="mw7">
      <p>I'm a <strong>freelance software engineer with more than 15 years of professional experience</strong>, based in Berlin.</p>
      {% block content %}{% endblock %}
    </main>
  </div>
</body>
</html>
