doctype html
html(lang="de")
	head
		title Frederik Ring
		meta(name="description", content="I make things move, interact and look good across all media. I like HTML5, JavaScript, jQuery, Adobe Illustrator, After Effects, Flash, node.js, raphaël.js, canvas, HTML5 video, phonegap and sometimes even PHP. Email me at frederik.ring@gmail.com or call me +49 (0) 179 5421146.")
		link(rel="stylesheet" href="/css/frederikring.css")
		link(href="http://fonts.googleapis.com/css?family=Denk+One" rel="stylesheet" type="text/css")
	body
		#container
			h6 AWSM<br>INTRNT
			ul
				li
					h1 Frederik Ring
				li
					a(href="http://films.frederikring.com", target="_blank") Films
				li
					a(href="https://github.com/m90", target="_blank") GitHub
				li
					a(href="https://www.metermade.de", target="_blank") METERMADE
				li
					a(href="mailto:frederik.ring@gmail.com", target="_blank") E-Mail

	script.
		var _gaq=[['_setAccount','UA-365790-1'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
