body{
	background-color: black;
}
::selection {
    background: hotpink;
    color: hotpink;
}
::-moz-selection {
    background: hotpink;
    color: hotpink;
}
#container{
	width: 100%;
	min-width: 320px;
	margin: auto;
    overflow: hidden;
    text-align: center;
    p{
        max-width: 460px;
        border-top: 1px solid white;
        text-align: left;
        padding: 12px;
        color: white;
        margin: auto;
        font-family: Georgia, Times, serif;
        font-style: italic;
        a{
            color: white;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

h6{
    display: inline-block;
    -webkit-transform: skewY(-15deg);
    -webkit-animation: dope 2s infinite linear;
    -moz-transform: skewY(-15deg);
    -moz-animation: dope 2s infinite linear;
    transform: skewY(-15deg);
    animation: dope 2s infinite linear;
    color: white;
    font-family: 'Denk One';
    text-align: center;
    font-size: 68px;
    -webkit-transition: -webkit-transform .2s;
    -moz-transition: -moz-transform .2s;
    -o-transition: -o-transform .2s;
    -ms-transition: -ms-transform .2s;
    transition: transform .2s;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    &:hover{
        @scale: 1.4;
        -webkit-transform: skewY(-15deg) scale(@scale, @scale);
        -moz-transform: skewY(-15deg) scale(@scale, @scale);
        -o-transform: skewY(-15deg) scale(@scale, @scale);
        -ms-transform: skewY(-15deg) scale(@scale, @scale);
        transform: skewY(-15deg) scale(@scale, @scale);
    }
    &:active{
        @scale: 1.1;
        -webkit-transform: skewY(-15deg) scale(@scale, @scale);
        -moz-transform: skewY(-15deg) scale(@scale, @scale);
        -o-transform: skewY(-15deg) scale(@scale, @scale);
        -ms-transform: skewY(-15deg) scale(@scale, @scale);
        transform: skewY(-15deg) scale(@scale, @scale);
    }
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	li{
		display: inline-block;
		padding: 0 8px;
		> *{
            font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			color: white;
			text-decoration: none;
		}
		> a{
			&::before{
				content: '@';
			}
		}
	}
}

@s: 80%;
@l: 45%;

@-webkit-keyframes dope {
    0% {
        text-shadow: -2px 2px 1px hsl(0, @s, @l), -4px 4px 1px hsl(60, @s, @l), -6px 6px 1px hsl(120, @s, @l), -8px 8px 1px hsl(180, @s, @l), -10px 10px 1px hsl(240, @s, @l), -12px 12px 1px hsl(300, @s, @l);
    }
    15% {
        text-shadow: -2px 2px 1px hsl(60, @s, @l), -4px 4px 1px hsl(120, @s, @l), -6px 6px 1px hsl(180, @s, @l), -8px 8px 1px hsl(240, @s, @l), -10px 10px 1px hsl(300, @s, @l), -12px 12px 1px hsl(360, @s, @l);
    }
    30% {
        text-shadow: -2px 2px 1px hsl(120, @s, @l), -4px 4px 1px hsl(180, @s, @l), -6px 6px 1px hsl(240, @s, @l), -8px 8px 1px hsl(300, @s, @l), -10px 10px 1px hsl(360, @s, @l), -12px 12px 1px hsl(60, @s, @l);
    }
    45% {
        // margin-top: -12px;
        text-shadow: -2px 2px 1px hsl(180, @s, @l), -4px 4px 1px hsl(240, @s, @l), -6px 6px 1px hsl(300, @s, @l), -8px 8px 1px hsl(360, @s, @l), -10px 10px 1px hsl(60, @s, @l), -12px 12px 1px hsl(120, @s, @l);
    }
    60% {
        // margin-top: -4px;
        text-shadow: -2px 2px 1px hsl(240, @s, @l), -4px 4px 1px hsl(300, @s, @l), -6px 6px 1px hsl(360, @s, @l), -8px 8px 1px hsl(60, @s, @l), -10px 10px 1px hsl(120, @s, @l), -12px 12px 1px hsl(180, @s, @l);
    }
    80% {
        // margin-top: 4px;
        text-shadow: -2px 2px 1px hsl(300, @s, @l), -4px 4px 1px hsl(360, @s, @l), -6px 6px 1px hsl(60, @s, @l), -8px 8px 1px hsl(120, @s, @l), -10px 10px 1px hsl(180, @s, @l), -12px 12px 1px hsl(240, @s, @l);
    }
    100% {
        // margin-top: 12px;
        text-shadow: -2px 2px 1px hsl(0, @s, @l), -4px 4px 1px hsl(60, @s, @l), -6px 6px 1px hsl(120, @s, @l), -8px 8px 1px hsl(180, @s, @l), -10px 10px 1px hsl(240, @s, @l), -12px 12px 1px hsl(300, @s, @l);
    }
}
@-moz-keyframes dope {
    0% {
        text-shadow: -2px 2px 1px hsl(0, @s, @l), -4px 4px 1px hsl(60, @s, @l), -6px 6px 1px hsl(120, @s, @l), -8px 8px 1px hsl(180, @s, @l), -10px 10px 1px hsl(240, @s, @l), -12px 12px 1px hsl(300, @s, @l);
    }
    15% {
        text-shadow: -2px 2px 1px hsl(60, @s, @l), -4px 4px 1px hsl(120, @s, @l), -6px 6px 1px hsl(180, @s, @l), -8px 8px 1px hsl(240, @s, @l), -10px 10px 1px hsl(300, @s, @l), -12px 12px 1px hsl(360, @s, @l);
    }
    30% {
        text-shadow: -2px 2px 1px hsl(120, @s, @l), -4px 4px 1px hsl(180, @s, @l), -6px 6px 1px hsl(240, @s, @l), -8px 8px 1px hsl(300, @s, @l), -10px 10px 1px hsl(360, @s, @l), -12px 12px 1px hsl(60, @s, @l);
    }
    45% {
        // margin-top: -12px;
        text-shadow: -2px 2px 1px hsl(180, @s, @l), -4px 4px 1px hsl(240, @s, @l), -6px 6px 1px hsl(300, @s, @l), -8px 8px 1px hsl(360, @s, @l), -10px 10px 1px hsl(60, @s, @l), -12px 12px 1px hsl(120, @s, @l);
    }
    60% {
        // margin-top: -4px;
        text-shadow: -2px 2px 1px hsl(240, @s, @l), -4px 4px 1px hsl(300, @s, @l), -6px 6px 1px hsl(360, @s, @l), -8px 8px 1px hsl(60, @s, @l), -10px 10px 1px hsl(120, @s, @l), -12px 12px 1px hsl(180, @s, @l);
    }
    80% {
        // margin-top: 4px;
        text-shadow: -2px 2px 1px hsl(300, @s, @l), -4px 4px 1px hsl(360, @s, @l), -6px 6px 1px hsl(60, @s, @l), -8px 8px 1px hsl(120, @s, @l), -10px 10px 1px hsl(180, @s, @l), -12px 12px 1px hsl(240, @s, @l);
    }
    100% {
        // margin-top: 12px;
        text-shadow: -2px 2px 1px hsl(0, @s, @l), -4px 4px 1px hsl(60, @s, @l), -6px 6px 1px hsl(120, @s, @l), -8px 8px 1px hsl(180, @s, @l), -10px 10px 1px hsl(240, @s, @l), -12px 12px 1px hsl(300, @s, @l);
    }
}
@keyframes dope {
    0% {
        text-shadow: -2px 2px 1px hsl(0, @s, @l), -4px 4px 1px hsl(60, @s, @l), -6px 6px 1px hsl(120, @s, @l), -8px 8px 1px hsl(180, @s, @l), -10px 10px 1px hsl(240, @s, @l), -12px 12px 1px hsl(300, @s, @l);
    }
    15% {
        text-shadow: -2px 2px 1px hsl(60, @s, @l), -4px 4px 1px hsl(120, @s, @l), -6px 6px 1px hsl(180, @s, @l), -8px 8px 1px hsl(240, @s, @l), -10px 10px 1px hsl(300, @s, @l), -12px 12px 1px hsl(360, @s, @l);
    }
    30% {
        text-shadow: -2px 2px 1px hsl(120, @s, @l), -4px 4px 1px hsl(180, @s, @l), -6px 6px 1px hsl(240, @s, @l), -8px 8px 1px hsl(300, @s, @l), -10px 10px 1px hsl(360, @s, @l), -12px 12px 1px hsl(60, @s, @l);
    }
    45% {
        // margin-top: -12px;
        text-shadow: -2px 2px 1px hsl(180, @s, @l), -4px 4px 1px hsl(240, @s, @l), -6px 6px 1px hsl(300, @s, @l), -8px 8px 1px hsl(360, @s, @l), -10px 10px 1px hsl(60, @s, @l), -12px 12px 1px hsl(120, @s, @l);
    }
    60% {
        // margin-top: -4px;
        text-shadow: -2px 2px 1px hsl(240, @s, @l), -4px 4px 1px hsl(300, @s, @l), -6px 6px 1px hsl(360, @s, @l), -8px 8px 1px hsl(60, @s, @l), -10px 10px 1px hsl(120, @s, @l), -12px 12px 1px hsl(180, @s, @l);
    }
    80% {
        // margin-top: 4px;
        text-shadow: -2px 2px 1px hsl(300, @s, @l), -4px 4px 1px hsl(360, @s, @l), -6px 6px 1px hsl(60, @s, @l), -8px 8px 1px hsl(120, @s, @l), -10px 10px 1px hsl(180, @s, @l), -12px 12px 1px hsl(240, @s, @l);
    }
    100% {
        // margin-top: 12px;
        text-shadow: -2px 2px 1px hsl(0, @s, @l), -4px 4px 1px hsl(60, @s, @l), -6px 6px 1px hsl(120, @s, @l), -8px 8px 1px hsl(180, @s, @l), -10px 10px 1px hsl(240, @s, @l), -12px 12px 1px hsl(300, @s, @l);
    }
}